.main-cards section:first-child {
    border-block-start-style: none;
  }
  @media (min-width: 500px) {
    .main-cards {
      width: 100%;
      display: grid;  
      gap: 3em;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
  }
  @media (min-width: 700px) {
    .main-cards {
      width: 100%;
      display: grid;  
      gap: 3em;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }