.card {
  font-family: 'Righteous', cursive;    
  background-image: linear-gradient(to right, white , var(--brand));
  border-radius: 20px;
    top: 200px;
    flex: 0 1 200px;
    margin: 3em 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    border-block-start: 1px var(--text2) solid;
}
.photoCard {
    width: 100%;
    height: 300px;
    position: relative;
}
.photoCard img{
    object-fit: contain;
}
.profPicAndName{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-block-start: 1em;
}
.profPicAndName a{
    margin-left: 1em;
    font-weight: bold;
    color:  hsl(89 15% 10%);
 } 
.profPicAndName img{
    cursor: pointer;
    border-radius: 50%;
}
.card p{
    color: hsl(89 15% 10%);
    cursor: pointer;
    margin: 0.5em 0em 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}
.description{
    color: hsl(89 15% 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em;
}
.read-more-btn{
    display: block;
    width: 100%;
    padding: 0.5em 0em;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: transparent;
    color: hsl(89 15% 10%);
    font-weight: bold;
    border: 1px solid hsl(89 15% 10%);
    border-radius: 12px;
    letter-spacing: 0.1em;
}
.message-btn {
    display: block;
    width: 100%;
    padding: 0.5em 0em;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: var(--surface3);
    color: var(--text2);
    border: 1px solid var(--text2);
    border-radius: 12px;
    letter-spacing: 0.1em;
    margin: 1em 0em;
}
.animCard{
  animation-name: slidein;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes slidein{
  from {
      top:200px;
   }
   to {
      top:0px;
   }
}
.shakeitoff {
    display: inline-block;
    animation: shake 0.5s;
    animation-iteration-count: 16;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  


@media (min-width: 400px) {
    .photoCard img {
        object-fit: cover;
    }
}
@media (min-width: 500px) {
    .card {
      border-block-start-style: none;
    }
  }
@media (min-width: 700px) {
.card p {
    margin: 0em;
  }
  .card{
    margin: 1em;
  }
}
