.card {
    flex: 0 1 200px; /*  Stretching: */
    /* flex: 0 1 150px;  No stretching: */
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.photoCard {
    /*background: wheat;*/
    width: 100%;
    height: 500px;
    position: relative;
}

.profPicAndName{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1em 1em;
}
.profPicAndName a{
    margin-left: 1em;
    font-weight: bold;
    color: var(--text2);
 } 
.profPicAndName img{
    cursor: pointer;
    border-radius: 50%;
}
.card p{
    color: var(--text2);
    cursor: pointer;
    margin: 1em 0em 1em 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.description{
    display: flex;
}
.description button{
    cursor: pointer;
    white-space: nowrap;
    background-color: transparent;
    color: var(--text2);
    font-weight: bold;
    border-style: none;
    border-radius: 10%;
    letter-spacing: 0.1em;
}