.parentHome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: aquamarine;
  flex: 1 1 150px; /*  Stretching: */
  /* flex: 0 1 150px;  No stretching: */
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.photoCard {
  height: 100px;
  width: 100%;
  background: wheat;
  margin: 0.5rem 0;
}
