@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.form-searchOptions {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-evenly;
}
.select-searchOptions label{
    font-family: 'Righteous', cursive;    
    color: var(--text2);
    font-size: 1.2rem;
    padding: 0.2em 0em;
}
.select-searchOptions {
 display: flex;
 flex-direction: column;
}
.select-searchOptions select{
    font-family: 'Righteous', cursive;    
    font-size: 1.2rem;
}