.form-search {
    display: flex;
}

.form-search input[type=text] {
  flex: 0 1 100%;
  font-size: 1rem;
}

.form-search button {
   font-size: 2rem;
   background-color: var(--brand);
   cursor: pointer;
}
.form-search button:hover {
  background-color: var(--surface2);
}